{% extends "AppJuridica/base.html" %}

{% load static %}


{% block main  %}

{% block title %} Formulario{% endblock title %}
        <!-- action: representa la url a la que nos va a re-dirigir. Tiene prioridad
    por sobre la redirección que podamos colocar en views.py -->
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ mi_formulario.as_table }}
        </table>
        <input type="submit" value="Enviar">

    </form>
{% endblock main %}